body {

  background: linear-gradient(#0099cc, #b3ecff);
}
 
* {
  font-family: Verdana;
}

main {
  position: relative;
}

header {
  position: relative;
}

.navigation {
  border: 5px solid black;
  position: static;
  text-align: center;
  width: 99%;
  background-color: #ff9933;
  text-align: center;
  border-radius: 5px;
}

.navigation a {
  background: grey;
  border: 1px solid grey;
  border-radius: 5px;
  color: white;
  display: inline-block;
  margin: 20px;
  padding: 20px 15px;
  text-decoration: none;
  box-shadow: 0px 5px;
  font-size: 20px;
}

.navigation a:hover {
  background: white;
  border: 1px solid grey;
  color: black;
}

.navigation a:active {
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px;
  background-color: #C0D6DF;
  color: #ffffff;
}

/* .breadcrumb > li { */
/*   display: inline; */
/* } */

/* .breadcrumb li+li::before {
  padding: 8px;
  content: ">";
}

.breadcrumb a {
  text-decoration: none;
}

.breadcrumb a:hover {
  color: black;
} */

/* Farbe der Links */
a {
  color: white;
}

/* Farbe der Links, wenn man mit der Maus dr체berf채hrt */
a:hover {
  color: orange;
}

p {
  text-align: justify;
}

.under-construction {
  height: 235px;
  width: 418px;
}

#willkommen {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: solid 5px black;
}

.profilfoto {
  width: 200px;
  height: 200px;
}

#ausbildung li {
  list-style: square;
  position: relative;
}

#ausbildung {
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: solid 5px black;
}

#berufserfahrung li {
  list-style: square;
  position: relative;
}

#berufserfahrung {
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: solid 5px black;
}

#kenntnissef채higkeiten li {
  list-style: square;
  position: relative;
}

#kenntnissef채higkeiten {
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: solid 5px black;
}

#hobbies {
  /* background-image: url("Gletscher.jpg"); */
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: solid 5px black;
}


#kontakt p {
  width: 100%;
  position: relative;
}

#kontakt {
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: solid 5px black;
}

#kontakt a {
  color: darkblue;
  display: inline-block;
}

#kontakt a:hover {
  color: grey;
}

footer {
  text-align: center;
}
